@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
	--font-jost: var(--font-jost);
}

.custom-wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
	padding-left: 1rem;
	padding-right: 1rem;
}

@theme {
	--color-brand-red : #B81316;
}